__pycache__
.vscode
*.out
*.pt
*.pkl
*.ipynb_checkpoints
*.sh
*.ipynb
results/
*.csv
wandb/
tmp/
*.zip
/clamp-gen-data
/flexs/
trained/
__pycache__
.vscode
*.out
*.pt
*.pkl
*.ipynb_checkpoints
*.sh
*.ipynb
results/
*.csv
wandb/Z
tmp/
*.zip
/clamp-gen-data
/flexs/
BioSeq-GFN-AL/generated/
BioSeq-GFN-AL/fluorescence-model/