*.egg-info
*.err
*.out
*.*~
setup.py
*.pyc
*.cpython
*-checkpoint.py
*-checkpoint.ipynb
tmp/
applications/illustration/.gitignore
applications/inverse_folding/pretrained_weights
# applications/molecules/.gitignore
applications/cifar10/.gitignore
applications/enhancer/.gitignore